.dragDropArea {
  text-align: center;
  position: absolute;
  margin-top: 150px;
  margin: 50px;
  width: 450px;
}

.item0 {
  margin-bottom: 20px;
  font-size: 70px;
  width: 450px;
  border: 1px solid black;
}

.item1 {
  margin-bottom: 20px;
  font-size: 70px;
  width: 450px;
  border: 1px solid black;
}

.item2 {
  margin-bottom: 20px;
  font-size: 70px;
  width: 450px;
  border: 1px solid black;
}
